@model IEnumerable<web_project.Models.Place>
@{
    Layout = "_Layout";
}

@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Countries</title>
    <link href="~/css/categories.css" rel="stylesheet">
</head>
<body>

    <!--- Meet the team -->
    <div class="container-fluid padding">
        <div class="row welcome text-center">
            <div class="col-12">
                <h1 class="display-4">@Localizer["Countries"]</h1>
            </div>
            <hr>
        </div>
    </div>

    <!--- Cards -->
    <div class="container-fluid padding">
        <div class="row padding">
            @{
                foreach (web_project.Models.Place place in Model)
                {
                    <div class="col-md-4">
                        <div class="card">
                            <img class="card-img-top" src="@place.img">
                            <div class="card-body">
                                <h4 class="card-title">@place.name</h4>
                                <p class="card-text">@place.shortDescription</p>
                                <a href="~/places/item/@place.id" class="btn btn-outline-secondary">@Localizer["More"]</a>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</body>
</html>

